mixin list(id, msg, btnLabel, btnClass, action, actSpinId)
    .alert.alert-info(ng-if="!info.#{id}.length")
        i.fa.fa-fw.fa-info-circle
        | #{msg}
    table.table.table-striped(ng-if="info.#{id}.length")
        thead
            tr
                th.col-sm-4 Name
                th.col-sm-5 Description
                th.col-sm-1 Status
                th.col-sm-1 Version
                th.col-sm-1 Actions
        tbody
            tr(ng-repeat="plugin in info.#{id} | filter:search | orderBy:'name'")
                td
                    i.fa.fa-fw.fa-info-circle.btn-link(ng-click="showInfo(plugin)")
                    strong {{plugin.name}}

                td(ng-bind-html="plugin.teaser|unsafe", ng-if="plugin.description")
                td(ng-if="!plugin.description"): strong n/a

                td.text-center
                    i.fa.fa-stop.text-danger(ng-show="plugin.status == 'I'")
                    i.fa.fa-play.text-success(ng-show="plugin.status=='A'")
                    i.fa.fa-exclamation-triangle.text-danger(ng-show="plugin.status=='E'")
                    i.fa.fa-exclamation-triangle.text-warning(ng-show="plugin.status=='W'")

                td.text-center
                    | {{plugin.version}}
                    strong(ng-if="!plugin.version") n/a

                td.text-center
                    button.btn.btn-xs(class="btn-#{btnClass}", type="button", ng-click="#{action}(plugin)", ng-disabled="isLoading")
                        span(ng-hide="plugin.#{actSpinId}") #{btnLabel}
                        span(ng-show="plugin.#{actSpinId}"): i.fa.fa-spin.fa-spinner

.row
    .col-md-3
        ng-include(src="'navigation'")
    .col-md-9
        ng-include(src="'breadcrumb'")

        .page-header
            h1 Plugins

        .row
            .col-sm-4
                .form-group
                    a.btn.btn-default.btn-sm(ng-click="loadPlugins()", ng-disabled="isLoading")
                        i.fa.fa-fw.fa-refresh
                        | Refresh
            .col-sm-6.col-sm-offset-2
                .form-group
                    .input-group.input-group-sm
                        span.input-group-btn
                            .btn-group
                                button.btn.btn-sm.btn-default(dropdown-toggle, data-toggle="dropdown", type="button")
                                    i.fa.fa-info-circle.fa-fw
                                    span.caret
                                ul.dropdown-menu
                                    li: a(href="", ng-click="search.status='A'")
                                        i.fa.fa-fw.fa-play.text-success
                                        | Active
                                    li: a(href="", ng-click="search.status='I'")
                                        i.fa.fa-fw.fa-stop.text-danger
                                        | Inactive
                                    li: a(href="", ng-click="search.status='W'")
                                        i.fa.fa-fw.fa-exclamation-triangle.text-warning
                                        | Warning
                                    li: a(href="", ng-click="search.status='E'")
                                        i.fa.fa-fw.fa-exclamation-triangle.text-danger
                                        | Error
                        input.form-control(placeholder="Filter by name", ng-model="search.name")
                        span.input-group-btn
                            button.btn-default.btn(type="button", ng-click="search={}"): i.fa.fa-times-circle




        .page-header
            h3 Active

        .row
            .col-sm-12
                mixin list('active', 'There are no active plugins', 'Stop', 'danger', 'stop', 'stopping')

        .page-header
            h3 Inactive

        .row
            .col-sm-12
                mixin list('inactive', 'There are no inactive plugins', 'Start', 'success', 'start', 'starting')