mixin sortMenu(id, title, icon)
    li(ng-class="{active: sortBy=='#{id}'}"): a(href="", ng-click="setSortBy('#{id}')")
        i.fa.fa-fw(class="#{icon}")
        = title

.row(ng-controller="PostListCtrl")
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header(ng-switch on="page")
            h1(ng-switch-when="false") Posts
            h1(ng-switch-when="true") Pages

        .row(ng-show="showForm()")
            .col-sm-6
                .form-group
                    .btn-toolbar(role="toolbar")
                        .btn-group
                            a.btn.btn-sm.btn-default(type="button", href="#/posts/new"): i.fa.fa-plus.text-primary
                            button.btn.btn-sm.btn-default(type="button", ng-click="publish()", ng-hide="crumb[1].id=='live'||crumb[1].id=='scheduled'", ng-disabled="select.isEmpty() || !select.hasType('D')") Publish
                            button.btn.btn-sm.btn-default(type="button", ng-click="draft()", ng-hide="crumb[1].id=='draft'", ng-disabled="select.isEmpty() || !select.hasType('A', 'S')") Revert to Draft
                            button.btn.btn-sm.btn-default(type="button", ng-click="remove()", ng-disabled="select.isEmpty() || !select.hasType('D')"): i.fa.fa-trash-o.text-danger

            .col-sm-5.col-sm-offset-1
                .form-group
                    .input-group.input-group-sm
                        span.input-group-btn
                            .btn-group
                                button.btn.btn-sm.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                                    i.fa.fa-tags(ng-hide="search.labels")
                                    span(ng-show="search.labels") {{search.labels}}
                                    | &nbsp;
                                    span.caret
                                ul.dropdown-menu.scrollable-menu
                                    li: a(href="", ng-click="filterByLabel()"): strong All labels
                                    li(ng-repeat="label in (allLabels | orderBy:'label')")
                                        a(href="", ng-click="filterByLabel(label.label)") {{label.label}} ({{label.count}})
                        input.form-control(type="text", ng-model="search.title", placeholder="Filter by title",
                            ng-key-action="{27:'onEsc', 13:'onEnter'}", on-esc="doSearchReset()", on-enter="doSearch()")
                        span.input-group-btn
                            button.btn.btn-default(ng-click="doSearchReset()"): i.fa.fa-times-circle

        .row(ng-if="!(posts | filter:search).length && !isLoading")
            .col-sm-12
                hr(ng-show="showForm()")
                .text-center(ng-hide="page")
                    | There are no posts.&nbsp;
                    a(href="#/posts/new") Create a new post
                .text-center(ng-show="page")
                    | There are no pages.&nbsp;
                    a(href="#/posts/new") Create a new page
                hr

        .text-center(ng-if="!posts.length && isLoading")
            i.fa.fa-spinner.fa-spin
            |  Loading &hellip;

        table.table.table-striped(ng-show="(posts | filter:search).length")
            thead
                th.col-sm-1
                    i.btn-link.fa.fa-fw(ng-class="{'fa-square-o':!select.all,'fa-check-square-o':select.all}", ng-click="selectAll()")
                    span(ng-hide="select.isEmpty()") &nbsp;({{select.howMany()}})
                th.col-sm-4
                    | Title
                    i.fa.fa-fw(ng-class="sortCls('title')",ng-click="setSortBy('title')")
                th.col-sm-1 Info
                th.col-sm-2
                    | Author
                    i.fa.fa-fw.fa-sort(ng-class="sortCls('author.name')", ng-click="setSortBy('author.name')")
                th.col-sm-1
                    i.fa.fa-tags(title="Tags")
                    i.fa.fa-fw.fa-sort(ng-class="sortCls('labels.length')", ng-click="setSortBy('labels.length')")
                th.col-sm-1
                    i.fa.fa-comments-o(title="Comments")
                    i.fa.fa-fw.fa-sort(ng-class="sortCls('commentsCount')", ng-click="setSortBy('commentsCount')")
                th.col-sm-2
                    | Publication
                    i.fa.fa-fw.fa-sort(ng-class="sortCls('publishedAt')", ng-click="setSortBy('publishedAt')")
            tbody
                tr(ng-repeat="post in posts | filter:search | orderBy:sortBy:reverse | startFrom:pg.firstItem | limitTo:pg.pageSize")
                    td: i.btn-link.fa.fa-fw(ng-class="{'fa-square-o':!select.has(post.id),'fa-check-square-o':select.has(post.id)}", ng-click="select.toggle(post.id, status(post))")
                    td: a(ng-href="#/posts/{{post.id}}/edit", ng-class="{'text-warning':!post.title}") {{post.title || '(Untitled post)'}}
                    td
                        i.fa.fa-bookmark-o.fa-fw(ng-if="post.featured", title="Featured")
                        i.fa.fa-fw.text-warning(ng-if="status(post)!='A'", ng-class="{D:'fa-edit',S:'fa-calendar'}[status(post)]", title="{{statusText(post)}}")
                        i.fa.fa-fw.fa-globe.text-success(ng-if="status(post)=='A'", title="{{statusText(post)}}")
                    td: a(ng-href="{{post.author.website}}", target="_blank") {{post.author.name}}
                    td
                        | {{post.labels.length || 0}}
                        i.fa.fa-fw.text-muted(ng-class="{'fa-tag':post.labels.length===1,'fa-tags':post.labels.length>1}",
                            title="{{post.labels.join(', ')}}", ng-tooltip, data-placement="top")
                    td
                        | {{post.commentsCount || 0}}
                        i.fa.fa-fw.text-muted(ng-class="{'fa-comments-o':post.commentsCount,'fa-comment-o':post.commentsCount==0}")
                    td(ng-class="{S:'text-warning',D:'text-warning'}[status(post)]") {{post.publishedAt|date:'mediumDate'}}

        .btn-toolbar.pull-right(ng-show="posts.length")
            p.btn-group Show rows:

            //- Rows per screen selection
            .btn-group.dropup.space-r
                button.btn.btn-default.btn-sm.dropdown-toggle(type="button", data-toggle="dropdown")
                    | {{pg.pageSize}}&nbsp;
                    span.caret
                ul.dropdown-menu
                    li(ng-class="{active:pg.pageSize==s}", ng-repeat="s in [10, 25, 50, 100]")
                        a(href="", ng-click="pg.pageSize=s") {{s}}

            //- Items range
            p.btn-group(ng-show="pg.items") {{pg.from|number}}-{{pg.to|number}} of {{pg.items|number}}

            //- Pagination
            .btn-group
                button.btn.btn-sm.btn-default(type="button", ng-disabled="!pg.hasPrev", ng-click="pg.prev()") &laquo;
                .btn-group.dropup
                    button.btn.btn-sm.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", ng-disabled="!pg.items")
                        | {{pg.current|number}}&nbsp;
                        span.caret
                    ul.dropdown-menu.scrollable-menu
                        li(ng-repeat="p in pg.pageRange", ng-class="{active:p==pg.current}"): a(href="", ng-click="pg.current=p") {{p|number}}
                button.btn.btn-sm.btn-default(type="button", ng-disabled="!pg.hasNext", ng-click="pg.next()") &raquo;


