.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .btn-toolbar(role="toolbar")
            .btn-group
                button.btn.btn-default(type="button")
                    i.fa(ng-class="{'fa-square-o':!selection.all,'fa-check-square-o':selection.all}",
                        ng-click="selectAll()")
            .btn-group
                button.btn.btn-default(type="button", ng-if="publish") Publish
                button.btn.btn-default(type="button") Revert to draft
                button.btn.btn-default(type="button"): i.fa.fa-trash-o

            .btn-group
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                    | Sort By 
                    span.caret
                ul.dropdown-menu
                    li(ng-class="{active: sortBy=='title'}")
                        a(href="#", ng-click="setSortBy('title', $event)")
                            i.fa.fa-sort-alpha-asc
                            |  Title 
                    li(ng-class="{active: sortBy=='-title'}")
                        a(href="#", ng-click="setSortBy('-title', $event)")
                            i.fa.fa-sort-alpha-desc
                            |  Title
                    li(ng-class="{active: sortBy=='commentsCount'}")
                        a(href="#", ng-click="setSortBy('commentsCount', $event)")
                            i.fa.fa-sort-amount-asc
                            |  Comments
                    li(ng-class="{active: sortBy=='-commentsCount'}")
                        a(href="#", ng-click="setSortBy('-commentsCount', $event)")
                            i.fa.fa-sort-amount-desc
                            |  Comments
                    li(ng-class="{active: sortBy=='publishedAt'}")
                        a(href="#", ng-click="setSortBy('publishedAt', $event)")
                            i.fa.fa-sort-numeric-asc
                            |  Publication Date
                    li(ng-class="{active: sortBy=='-publishedAt'}")
                        a(href="#", ng-click="setSortBy('-publishedAt', $event)")
                            i.fa.fa-sort-numeric-desc
                            |  Publication Date

            .btn-group.pull-right
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                    | {{pagination.limit}} 
                    span.caret
                ul.dropdown-menu
                    li(ng-class="{active: pagination.limit==10}")
                        a(href="#", ng-click="setLimit(10, $event)") 10
                    li(ng-class="{active: pagination.limit==25}")
                        a(href="#", ng-click="setLimit(25, $event)") 25
                    li(ng-class="{active: pagination.limit==50}")
                        a(href="#", ng-click="setLimit(50, $event)") 50
                    li(ng-class="{active: pagination.limit==100}")
                        a(href="#", ng-click="setLimit(100, $event)") 100

            .btn-group.pull-right
                button.btn.btn-default.btn-disabled(type="button", 
                    ng-disabled="!pagination.hasPrev",
                    ng-click="setPage(pagination.page-1)") &laquo;
                button.btn.btn-default(type="button", 
                    ng-repeat="page in pagination.pages", 
                    ng-click="setPage(page)",
                    ng-class="{active: pagination.page == page}") {{page}}
                button.btn.btn-default(type="button", 
                    ng-disabled="!pagination.hasNext", 
                    ng-click="setPage(pagination.page+1)") &raquo;

            p.btn-group.pull-right {{pagination.posts.from}}-{{pagination.posts.to}} of {{pagination.total}}
        //- hr
        p
        p.text-center(ng-if="!posts.length") 
            i.fa.fa-spinner.fa-spin 
            |  Loading posts 
        table.table(ng-if="posts.length")
            //- thead
            //-     tr
            //-         td
            //-         td Title
            //-         td
            //-         td Author
            //-         td
            //-         td Published
            tbody
                tr(ng-repeat="post in posts | limitTo:pagination.limit")
                    td: input(type="checkbox", ng-checked="selection.keys[post._id]", ng-click="select(post._id)")
                    td: a(ng-href="#/posts/{{post._id}}/edit") {{post.title}}
                    td
                        i.fa.fa-bookmark(ng-if="post.featured", title="Featured")
                        i.fa(ng-if="status(post)!='A'" ng-class="{D:'fa-edit',S:'fa-calendar'}[status(post)]", title="{{statusText(post)}}")
                    td: a(ng-href="{{post.author.website}}", target="_blank") {{post.author.name}}
                    td
                        | {{post.commentsCount || 0}} 
                        i.fa.text-muted(ng-class="{'fa-comments-o':post.commentsCount,'fa-comment-o':post.commentsCount==0}")
                    td(ng-class="{S:'text-warning'}[status(post)]")
                        span.text-warning(ng-if="status(post)=='D'") {{statusText(post)}}
                        | {{post.publishedAt|date:'mediumDate'}}
