.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header
            h1 Redirects

        .row(ng-controller="RedirectsListCtrl")
            nav.navbar
                .container-fluid
                    .navbar-form
                        .form-group
                            button.btn.btn-default.navbar-btn(ng-click="refresh()")
                                i.fa.fa-refresh
                                |  Refresh
                        .form-group.navbar-right(ng-if="items.length")
                            button.btn.btn-danger.navbar-btn(type="button", ng-click="delete()", ng-disabled="deleting.isEmpty()") Delete
                            button.btn.btn-default.navbar-btn(type="button", ng-click="deleting.empty()", ng-disabled="deleting.isEmpty()") Reset
                        .form-group.navbar-right
                            p.navbar-text(ng-if="items.length", ng-pluralize, count="deleting.howMany()", when="{'0':'No items selected', 'one':'1 item selected', 'other':'{} items selected'}")

            .text-center(ng-if="!items.length && loading")
                i.fa.fa-spinner.fa-spin
                |  Loading &hellip;

            //- List of redirects
            table.table.table-striped(ng-if="items.length")
                thead
                    tr
                        th.col-sm-1
                        th.col-sm-5
                            a(href="", ng-click="order='from'")
                                | From&nbsp;
                            a(href="", ng-click="order='-from'")
                                i.fa.fa-sort-alpha-desc
                        th.col-sm-4
                            a(href="", ng-click="order='to'")
                                | To&nbsp;
                            a(href="", ng-click="order='-to'")
                                i.fa.fa-sort-alpha-desc
                        th.col-sm-2
                            a(href="", ng-click="order='type'")
                                | Type&nbsp;
                            a(href="", ng-click="order='-type'")
                                i.fa.fa-sort-alpha-desc
                tbody
                    tr(ng-repeat="item in items | orderBy:order | startFrom:pg.firstItem | limitTo:pg.pageSize")
                        td: input(type="checkbox", ng-click="deleting.toggle(item.id)", ng-checked="deleting.has(item.id)")
                        td: a(href="", ng-click="$emit('edit', item)") {{item.from}}
                        td {{item.to}}
                        td
                            i.fa(ng-class="{'internal':'fa-star-o','301':'fa-star','302':'fa-star-half-o'}[item.type]")
                            |  {{item.type||'internal'}}

            ul.pagination(ng-if="items.length")
                li: a(href="", ng-click="pg.prev()") &laquo;
                li(ng-repeat="p in pg.pageRange", ng-class="{active:p==pg.current}"): a(href="", ng-click="pg.current=p") {{p}}
                li: a(href="", ng-click="pg.next()") &raquo;

            .row(ng-if="!items.length && !loading")
                .alert.alert-info.text-center No redirects have been configured.

        hr

        //- Redirect edti / create form
        form.form-horizontal(name="form", ng-controller="RedirectEditCtrl")

            //- Redirect from value
            .form-group(ng-class="{'has-error':!form.from.$valid && !form.from.$pristine}")
                label.col-sm-2.control-label(for="from") From
                .col-sm-7
                    .input-group
                        input.form-control#from(type="text", placeholder="From", 
                            ng-model="item.from", name="from", required, ng-trim="false",
                            ng-pattern="path")
                        span.input-group-btn
                            button.btn.btn-default(type="button", 
                                ng-click="item.from=fix(form.from.$viewValue)",
                                ng-disabled="!form.from.$viewValue || form.from.$valid"): i.fa.fa-wrench

            //- Redirect to
            .form-group(ng-class="{'has-error':!form.toinput.$valid && !form.toinput.$pristine}")
                label.col-sm-2.control-label(for="toinput") To
                .col-sm-7
                    .input-group
                        input.form-control#toinput(type="text", placeholder="To", 
                            ng-model="item.to", required, ng-trim="true", name="toinput",
                            ng-pattern="path")
                        span.input-group-btn
                            button.btn.btn-default(type="button", 
                                ng-click="item.to=fix(form.toinput.$viewValue)",
                                ng-disabled="!form.toinput.$viewValue || form.toinput.$valid"): i.fa.fa-wrench

            .form-group
                label.col-sm-2.control-label Redirect Type
                .col-sm-8
                    label.radio-inline
                        input(type="radio", ng-model="item.type", value="301", name="type", required)
                        | Moved Permanently (301)
                    label.radio-inline
                        input(type="radio", ng-model="item.type", value="302", name="type", required)
                        | Moved Temporarily (302)
                    label.radio-inline
                        input(type="radio", ng-model="item.type", value="internal", name="type", required)
                        | Internal Forward

            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type="button", ng-if="isEdit", ng-disabled="form.$invalid || form.$pristine", ng-click="update()") Update
                    button.btn.btn-primary(type="button", ng-if="!isEdit", ng-disabled="form.$invalid || form.$pristine", ng-click="create()") Create
                    button.btn.btn-default(type="button", ng-click="reset()") Reset
