.row
    .col-md-3
        ng-include(src="'navigation'")
    .col-md-9
        ng-include(src="'breadcrumb'")

        .page-header
            h1 Redirects

        .row(ng-controller="RedirectsListCtrl")

            .form-group(ng-if="items.length")
                .row
                    .col-sm-3
                        button.btn.btn-default.btn-sm(type="button", ng-click="verify()", ng-disabled="items.length<2") Verify
                    .col-sm-6.col-sm-offset-3
                        .input-group.input-group-sm
                            input.form-control(type="text", ng-model="url.$", ng-key-action="{27:'onEsc'}", on-esc="clrSearch()")
                            span.input-group-btn.input-group-sm
                                button.btn.btn-default(type="button", ng-disabled="hasSearch()", ng-click="clrSearch()"): i.fa.fa-times-circle

            .text-center(ng-if="!items.length && isLoading")
                i.fa.fa-spinner.fa-spin
                |  Loading &hellip;

            .alert.alert-warning(ng-if="hasVerification()")
                button.close(type="button", ng-click="clearVerification()") &times;
                .form-group
                    i.fa.fa-fw.fa-exclamation-triangle
                    | Verification Issues - chain redirects found
                table.table.table-condensed
                    thead
                        tr
                            th.col-sm-1 #
                            th.col-sm-5 From
                            th.col-sm-5 To
                    tbody
                        tr(ng-repeat-start="i in verification.items")
                            td(rowspan="2")
                                | {{$index+1}}
                                a.alert-link(href="", ng-click="url.$=i.item.to"): span.pull-right.i.fa.fa-eye
                            td {{i.item.from}}
                            td {{i.item.to}}
                        tr(ng-repeat-end)
                            td {{i.chain.from}}
                            td {{i.chain.to}}

            //- List of redirects
            table.table.table-striped(ng-if="items.length")
                thead
                    tr
                        th.col-sm-1
                        th.col-sm-5
                            | From&nbsp;
                            a(href="", ng-click="order.by('from')")
                                i.fa(ng-class="order.icon('from')")
                        th.col-sm-4
                            | To&nbsp;
                            a(href="", ng-click="order.by('to')")
                                i.fa(ng-class="order.icon('to')")
                        th.col-sm-2
                            | Type&nbsp;
                            a(href="", ng-click="order.by('type')")
                                i.fa(ng-class="order.icon('type')")
                tbody
                    tr(ng-repeat="item in items | filter:url | orderBy:order.option:order.desc | startFrom:pg.firstItem | limitTo:pg.pageSize")
                        td.text-center: i.fa.fa-trash-o.fa-fw.btn-link(ng-click="remove(item)")
                        td: a(href="", ng-click="$emit('edit', item)") {{item.from}}
                        td {{item.to}}
                        td
                            i.fa(ng-class="{'internal':'fa-star-o','301':'fa-star','302':'fa-star-half-o'}[item.type]")
                            |  {{item.type||'internal'}}

            .btn-toolbar.pull-right(ng-if="items.length")
                p.btn-group Show rows:

                //- Rows per screen selection
                .btn-group.dropup.space-r
                    button.btn.btn-default.btn-sm.dropdown-toggle(type="button", data-toggle="dropdown")
                        | {{pg.pageSize}}&nbsp;
                        span.caret
                    ul.dropdown-menu
                        li(ng-class="{active:pg.pageSize==s}", ng-repeat="s in [10,25,50,100]")
                            a(href="", ng-click="pg.pageSize=s") {{s}}

                p.btn-group {{pg.from|number}}-{{pg.to|number}} of {{pg.items|number}}

                .btn-group
                    pagination.pagination-sm(page="pg.current", total-items="pg.items", items-per-page="pg.pageSize",
                        previous-text="«", next-text="»", rotate="true", max-size="5")

            .text-center(ng-if="!items.length && !isLoading") No redirects have been configured. You can create one in the form below.

        hr

        //- Redirect edti / create form
        form.form-horizontal(name="form", ng-controller="RedirectEditCtrl")

            //- Redirect from value
            .form-group(ng-class="{'has-error':!form.from.$valid && !form.from.$pristine}")
                label.col-sm-2.control-label(for="from") From
                .col-sm-7
                    .input-group.input-group-sm
                        input.form-control#from(type="text", placeholder="From", 
                            ng-model="item.from", name="from", required, ng-trim="false",
                            ng-pattern="path")
                        span.input-group-btn
                            button.btn.btn-default(type="button", 
                                ng-click="item.from=fix(form.from.$viewValue)",
                                ng-disabled="!form.from.$viewValue || form.from.$valid"): i.fa.fa-wrench

            //- Redirect to
            .form-group(ng-class="{'has-error':!form.toinput.$valid && !form.toinput.$pristine}")
                label.col-sm-2.control-label(for="toinput") To
                .col-sm-7
                    .input-group.input-group-sm
                        input.form-control#toinput(type="text", placeholder="To", 
                            ng-model="item.to", required, ng-trim="true", name="toinput",
                            ng-pattern="path")
                        span.input-group-btn
                            button.btn.btn-default(type="button", 
                                ng-click="item.to=fix(form.toinput.$viewValue)",
                                ng-disabled="!form.toinput.$viewValue || form.toinput.$valid"): i.fa.fa-wrench

            .form-group
                label.col-sm-2.control-label Redirect Type
                .col-sm-8
                    label.radio-inline
                        input(type="radio", ng-model="item.type", value="301", name="type", required)
                        | Moved Permanently (301)
                    label.radio-inline
                        input(type="radio", ng-model="item.type", value="302", name="type", required)
                        | Moved Temporarily (302)
                    label.radio-inline
                        input(type="radio", ng-model="item.type", value="internal", name="type", required)
                        | Internal Forward

            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary.btn-sm(type="button", ng-if="isEdit", ng-disabled="form.$invalid || form.$pristine", ng-click="update()") Update
                    button.btn.btn-primary.btn-sm(type="button", ng-if="!isEdit", ng-disabled="form.$invalid || form.$pristine", ng-click="create()") Create
                    button.btn.btn-default.btn-sm(type="button", ng-click="reset()") Reset
