extends layout

block content
    header.site-head(style=blog.cover ? "background-image: url("+blog.cover+")" : undefined)
        .vertical
            .site-head-content.inner
                if blog.logo
                    a.blog-logo(href=blog.logo): img(alt="Blog Logo", src=blog.logo)
                h1.blog-title=blog.title
                h2.blog-description=blog.description
    main.content(role="main")
        each post in posts
            article.post
                header.post-header
                    span.post-meta
                        time(datetime=$date(post))=$date(post, "DD MMM YYYY")
                        if post.labels.length
                            |  on #{$labels(post)}
                    h2.post-title: a(href=$url(post))=post.title
                section.post-excerpt
                    p !{post.excerpt}&hellip;

        if pagination
            nav.pagination(role="navigation")
                if pagination.newer
                    a.newer-posts(href=$pageurl(pagination.newer.page))&larr; Newer Posts
                span.page-number
                    | Page #{pagination.page} of #{pagination.pages}
                if pagination.older
                    a.older-posts(href=$pageurl(pagination.older.page)) Older Posts &rarr;