mixin post(id, name, page)
    li(ng-if="#{page?'pageStats':'postStats'}.#{id}")
        a(href="#/#{page?'pages':'posts'}/#{id}", ng-class="{'text-bold':crumb[1].id=='#{id}'}")
            span.badge.pull-right {{#{page?'pageStats':'postStats'}.#{id}}}
            case id
                when 'draft'
                    i.fa.fa-fw.fa-edit
                when 'scheduled'
                    i.fa.fa-fw.fa-calendar
                when 'live'
                    i.fa.fa-fw.fa-globe
            = name

ul.nav.nav-list
    li: a(href="#/overview", ng-class="{'text-bold':crumb[0].id=='overview'}")
        i.fa.fa-home
        |  Overview
    li.nav-header
        a(href="#/posts")
            i.fa.fa-file-text.fa-fw
            | Posts
            i.fa.fa-spinner.fa-spin.fa-fw.pull-right.text-info(ng-show="loadingPostStats")
        ul.nav.nav-list(ng-if="crumb[0].id === 'posts' && postStats")
            mixin post('all', 'All')
            mixin post('draft', 'Draft')
            mixin post('live', 'Published')
            mixin post('scheduled', 'Scheduled')
    li.nav-header
        a(href="#/pages")
            i.fa.fa-file.fa-fw
            | Pages
            i.fa.fa-spinner.fa-spin.fa-fw.pull-right.text-info(ng-show="loadingPageStats")
        ul.nav.nav-list(ng-if="crumb[0].id === 'pages' && pageStats")
            mixin post('all', 'All', true)
            mixin post('draft', 'Draft', true)
            mixin post('live', 'Published', true)
            mixin post('scheduled', 'Scheduled', true)

    li: a(href="#/comments", ng-class="{'text-bold':crumb[0].id=='comments'}")
        i.fa.fa-comments.fa-fw
        |  Comments

    li: a(href="#/images", ng-class="{'text-bold':crumb[0].id=='images'}")
        i.fa.fa-picture-o.fa-fw
        |  Images

    li: a(href="#/users", ng-class="{'text-bold':crumb[0].id=='users'}")
        i.fa.fa-user.fa-fw
        |  Users

    li: a(href="#/themes", ng-class="{'text-bold':crumb[0].id=='themes'}")
        i.fa.fa-desktop.fa-fw
        |  Themes

    li.nav-header

        a(href="#/settings")
            i.fa.fa-wrench.fa-fw
            |  Settings

        ul.nav.nav-list(ng-if="crumb[0].id === 'settings'")

            li: a(href="#/settings/basic", ng-class="{'text-bold':crumb[1].id=='basic'}")
                i.fa.fa-cog.fa-fw
                |  Basic

            li: a(href="#/settings/ips", ng-class="{'text-bold':crumb[1].id=='ips'}")
                i.fa.fa-ban.fa-fw
                |  IP Restrictions

            li: a(href="#/settings/redirects", ng-class="{'text-bold':crumb[1].id=='redirects'}")
                i.fa.fa-share-square-o.fa-fw
                |  Redirects

