extends layout

block content
    
    //- Navigation
    nav.navbar.navbar-default.navbar-static-top(role="navigation")
        .container
            .navbar-header
                a.navbar-brand(href="/admin")
                    img(src=$adminAsset("/client/img/panda-logo.png"))
                    |  Panda
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown") 
                        | Quick Links 
                        b.caret
                    ul.dropdown-menu
                        li: a(href="#/posts")
                            i.fa.fa-file-text
                            |  Posts
                        li: a(href="#/posts/new") 
                            i.fa.fa-pencil
                            |  New Post
            ul.nav.navbar-nav.navbar-right
                li: a(href="/logout") Sign Out

            p.navbar-text.navbar-right
                | Signed in as 
                a.navbar-link(href="#")= user.name
                img(src=user.image, alt=user.name, title=user.name, style="width:24px;margin-left:5px;")
    //- Content
    .container(ng-controller="RootCtrl", ng-class="breadcrumb[0].id", ng-cloak)
        #loading(ng-show="loading")
            i.fa.fa-spinner.fa-spin
            |  {{loading}}
            
        div(ng-view)

    //- Footer
    #footer.navbar-default
        .container
            p.text-muted Panda v.#{version}

block js
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular-resource.min.js")
    script(src=$adminAsset("/client/js/lib/moment/moment-2.5.1.min.js"))
    script(src=$adminAsset("/client/js/lib/underscore/underscore-1.6.0.min.js"))
    script(src=$adminAsset("/client/js/lib/underscore/underscore.string-2.3.2.min.js"))
    script(src=$adminAsset("/client/js/lib/bootstrap/bootstrap.min.js"))
    script(src=$adminAsset("/client/js/lib/codemirror/codemirror.js"))
    script(src=$adminAsset("/client/js/lib/codemirror/mode/markdown/markdown.js"))
    script(src=$adminAsset("/client/js/lib/showdown/showdown.js"))
    script(src=$adminAsset("/client/js/app/application.js"))
    script(src=$adminAsset("/client/js/app/controllers.js"))
    script.
        angular.element(document).ready(function(){
            angular.bootstrap(document, ['panda']);
        });
