extends layout

block content

    nav.navbar.navbar-default.navbar-static-top(role="navigation")
        .container

            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#panda-navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/admin") Panda

            #panda-navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                            | Quick Links
                            b.caret
                        ul.dropdown-menu
                            li: a(href=url, target="_blank")
                                i.fa.fa-eye.fa-fw
                                |  View Blog
                            li: a(href="#/posts")
                                i.fa.fa-file-text.fa-fw
                                |  Posts
                            li: a(href="#/posts/new")
                                i.fa.fa-pencil.fa-fw
                                |  New Post
                ul.nav.navbar-nav.navbar-right
                    li.active: a(href="/logout") Sign Out

                p.navbar-text.navbar-img.navbar-right: a(href="#/users")
                    if user.image
                        img.img-circle(src=user.image, alt=user.name, title=user.name)
                    else
                        i.fa.fa-user.fa-3x

                p.navbar-text.navbar-right
                    | Signed in as&nbsp;
                    a.navbar-link(href="#/users")= user.name

    //- Content
    .container(ng-controller="RootCtrl", ng-class="breadcrumb[0].id", ng-cloak)
        #loading(ng-show="loading")
            i.fa.fa-spinner.fa-spin
            |  {{loading}}&hellip;
            
        div(ng-view)

    nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
        .container
            p.navbar-text Panda v.#{version}

block js
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular-resource.min.js")
    script(src=$adminAsset("/client/js/lib/moment/moment-2.5.1.min.js"))
    script(src=$adminAsset("/client/js/lib/underscore/underscore-1.6.0.min.js"))
    script(src=$adminAsset("/client/js/lib/underscore/underscore.string-2.3.2.min.js"))
    script(src=$adminAsset("/client/js/lib/bootstrap/bootstrap.min.js"))
    script(src=$adminAsset("/client/js/lib/codemirror/codemirror.js"))
    script(src=$adminAsset("/client/js/lib/codemirror/mode/markdown/markdown.js"))
    script(src=$adminAsset("/client/js/lib/showdown/showdown.js"))
    script(src=$adminAsset("/client/js/app/application.js"))
    script(src=$adminAsset("/client/js/app/controllers.js"))
    script.
        angular.element(document).ready(function(){
            angular.bootstrap(document, ['panda']);
        });
