doctype xml
rss(version="2.0")
    channel
        title
            :cdata
                !{title}
        description
            :cdata
                !{description}
        link= url
        language en
        copyright= copyright
        generator Panda 0.0.1
        each post in posts
            item
                title
                    :cdata
                        !{post.title}
                description
                    :cdata
                        !{post.content}
                link= $url(post, true)
                pubDate= post.scheduled.toUTCString()

