doctype xml
rss(version="2.0", 
    xmlns:atom="http://www.w3.org/2005/Atom",
    xmlns:openSearch="http://a9.com/-/spec/opensearchrss/1.0/",
    xmlns:thr="http://purl.org/syndication/thread/1.0")
    channel
        lastBuildDate= $date(updated, 'utc')
        if labels
            each label in labels
                category= label.label
        
        title= title
        description= description
        link= url

        generator Panda v#{version}

        openSearch:totalResults= totalPosts
        openSearch:startIndex= startIndex
        openSearch:itemsPerPage= postsPerPage
        
        language en
        copyright=  copyright
        
        atom:link(rel="self", type="application/rss+xml", href="#{url}#{context}")
        if author
            author= author.name

        ttl 60
        
        each post in posts
            item
                pubDate= $date(post, 'utc')
                atom:updated= $date(post.updatedAt, 'iso')

                each label in post.labels
                    category= label

                title= post.title
                description= post.content
                link= $url(post, true)
                
                thr:total= post.commentsCount
